* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Aboba Regular';
    src: url(./fonts/aboba-regular.otf);
}

body {
    font-family: 'Aboba Regular', sans-serif;
    color: #ffd5a7;

    background-image: url(./images/night-sky.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.message-banner {
    margin: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    text-align: center;
}

.message-banner .announcement {
    font-size: 40px;
    font-weight: 300;
}

.message-banner .score {
    font-size: 45px;
}

.choice-area {
    margin: 50px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.computer-choice, .human-choice {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 25px;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.choice-area h2 {
    font-size: 35px;
    font-weight: 300;
}

.choice-area .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.choice-area button {
    font-size: 30px;
    border-width: 0;
    padding: 5px 15px;
    min-width: 5em;

    background-color: #1e9f9781;
}

.choice-area button img, .player img {
    filter: invert(100%) sepia(22%) saturate(5306%) hue-rotate(301deg) brightness(86%) contrast(103%);
}

.choice-area button p {
    color: #ffc68a;
}

.choice-area img {
    width: 50px;
    height: auto;
}

.scissors img {
    transform: rotate(-90deg);
}

.round-logs {
    max-width: 1000px;
    margin: auto;

    font-size: 25px;
}